{{ template "header" . }}
<h1>{{.Name}}</h1>
<p>{{.Description}}</p>
<p>Price : <strong>{{.Price}}</strong> $</p>
<p>Shipping Date : {{.ShippingDate.Format "2006-01-02"}}</p>
<h2>Delivery options</h2>
<ul>
    <li>Express + 2$ </li>
    <li>Ultra Express + 5$</li>
    <li>Normal</li>
</ul>
{{ if and .Sale .SaleImagePath}}
    <p>My super image</p>
    <!--Add image here-->
{{ end }}
{{ template "footer" . }}
<p>{{call .MyFunc "first" "second"}}</p>
<p>{{capitalizeFirstLetter "test test фыва"}}</p>
